# dependencies
node_modules/

# builds
dist/
build/

# env
.env
.env.local
.env.*.local

# database
*.db
*.db-journal

# tests
coverage/

# logs
logs/
*.log
npm-debug.log*

# editor / os
.vscode/
.idea/
.DS_Store
Thumbs.db
